/**
Lenis
*/
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/******************/

/*
* Navbar
*/

.hp--navbar{
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
